<div class="bg-img">
    <div class="container topMargin">
        <div class="container registerDiv col-md-6">
            <div class="heading">
                <h2>Register to LearnVilla</h2>
            </div>
            <form class="registerFormClass" [formGroup]="registerForm">
                <div class="form-group mb-3">
                    <input type="text" placeholder="Enter first name" class="form-control" [formControl]="firstName">
                    <span class="text-info small" [hidden]="firstName.valid || firstName.untouched">Enter valid first name</span>
                </div>
                <div class="form-group mb-3">
                    <input type="text" placeholder="Enter last name" class="form-control" [formControl]="lastName">
                    <span class="text-info small" [hidden]="lastName.valid || lastName.untouched">Enter valid last name</span>
                </div>
                <div class="form-group mb-3">
                    <input type="email" placeholder="Enter email" class="form-control" [formControl]="email">
                    <span class="text-info small" [hidden]="email.valid || email.untouched">Enter valid email</span>
                </div>
                <div class="form-group mb-3">
                    <input type="text" placeholder="Enter mobile number" class="form-control" [formControl]="mobile">
                    <span class="text-info small" [hidden]="mobile.valid || mobile.untouched">Enter valid mobile number</span>
                </div>
                <div class="form-group mb-3">
                    <input type="password" placeholder="Enter password" class="form-control" [formControl]="password">
                    <span class="text-info small" [hidden]="password.valid || password.untouched">Enter valid password (length must be greater than 8 characters and must comprise of atleast 1 uppercase, lowercase, digit and special character)</span>
                </div>
                <div class="form-group mb-3">
                    <input type="password" placeholder="Confirm password" class="form-control"
                        [formControl]="confirmPassword">
                        <span class="text-info small" [hidden]="!check && (confirmPassword.valid || confirmPassword.untouched)">Password and confirm password must be same.</span>
                </div>
                <div class="d-flex align-items-center mb-5">
                    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid"
                        (click)="register()">
                        Submit
                    </button>
                    <a style="cursor: pointer" class="ms-auto text-decoration-none mt-auto" routerLink="/login"
                        routerLinkActive="active">Already Registered? Login</a>
                </div>
            </form>
        </div>
    </div>
</div>