<app-sidenav></app-sidenav>
<div class="sectionDiv">
    
    <form class="container" [formGroup]="updateSectionForm">
        <h4>Update Section</h4>
        <input type="text" placeholder="Enter Section ID" [formControl]="sectionId">
        <p class="text-danger small" [hidden]="sectionId.valid || sectionId.untouched">Enter valid Section ID</p>
        <input type="text" placeholder="Enter Course ID"  [formControl]="courseId">
        <p class="text-danger small" [hidden]="courseId.valid || courseId.untouched">Enter valid Course ID</p>
        <input type="text" placeholder="Enter Section Number" [formControl]="sectionNumber">
        <p class="text-danger small" [hidden]="sectionNumber.valid || sectionNumber.untouched">Enter valid Section Number</p>
        <input type="text" placeholder="Enter Section Name" [formControl]="sectionName">
        <p class="text-danger small" [hidden]="sectionName.valid || sectionName.untouched">Enter valid Section Name</p>
        <input type="text" placeholder="Enter Section Content" [formControl]="sectionContent">
        <p class="text-danger small" [hidden]="sectionContent.valid || sectionContent.untouched">Enter Section Content</p>
        <input type="text" placeholder="Enter Video URL" [formControl]="videoUrl">
        <p class="text-danger small" [hidden]="videoUrl.valid || videoUrl.untouched">Enter Video URL</p>
        <button class="btn btn-green" [disabled]="updateSectionForm.invalid" (click)="updateSection()">Update</button>
    </form>
</div>