<div class="container">
    <div id="about">
        <h1>About LearnVilla</h1>
        <div class="container" id="div1">
            <img class="container img" src="https://media.istockphoto.com/id/499924122/photo/e-learning-concept-with-a-teacher-presenting-online-education-program.jpg?s=612x612&w=0&k=20&c=9zr-SHF6kpOaY4jb3bPXAs2iQum9VxxSPlQsrrqZzng=" alt="LearnVilla">
        </div>
        <div class="para">
        <p>
            LearnVilla is an e-learning platform where students can enroll in various courses across multiple categories such as IT & Software, Business, Soft Skills, Behavioural Courses, Communication, and Personality Development. Our courses are detailed, self-paced, and available in various languages. They vary in duration to cater to different learning needs and schedules.
        </p>
        <p>
            LearnVilla is not just an e-learning platform, it's a community. A community of learners, educators, and experts passionate about sharing knowledge and helping each other grow. We offer a wide range of courses designed by industry professionals and experienced educators to ensure you get the most relevant and up-to-date knowledge in your chosen field.
        </p>
        <p>
            Our courses are designed to be engaging and interactive, making learning not just effective but also enjoyable. We believe that everyone has a unique way of learning, and our courses reflect that. Whether you prefer hands-on projects, interactive quizzes, or learning through video, we've got you covered.
        </p>
        <p>
            At LearnVilla, we understand that learning doesn't stop when the course ends. That's why we provide continuous support and resources to help you apply what you've learned in the real world. Our active community of learners and educators is always there to help you with doubts, discussions, and networking.
        </p>
        <p>
            At LearnVilla, we believe in the power of continuous learning and aim to provide a platform that enhances your skills and knowledge at your own pace. Join LearnVilla today and become a part of our growing community. Let's make learning a lifelong journey together!
        </p>
        </div>
    </div>
</div>
