<div class="container outer container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4 inner">
        @for(course of courses; track course.courseId){
        <div class="col">
            <div class="card h-100 container-fluid">
                <br>
                <img [src]="course.courseImage" class="card-img-top" alt="Course Image">
                <hr>
                <div class="card-body">
                    <h4 class="card-title">{{course.courseName}}</h4>
                    <p class="card-text">{{course.description}}</p>
                    <p class="details">Rating : {{course.rating}}</p>
                    <p class="details">{{course.duration}}</p>
                    <p class="details">Students enrolled : {{course.studentsEnrolled}}</p>
                </div>
                <strong><p class="details-right">Rs. {{course.price}}/-</p></strong>
                <hr>
                <button (click) = "viewCourseById(course.courseId)">Get Course Details</button>
                <button class="float-end" (click) = "addToWishlist(course.courseId)">Add to Wishlist</button>
                <br>
            </div>
        </div>
        }
    </div>
</div>
