<app-sidenav></app-sidenav>
<div class="categoryDiv">

    <form class="container" [formGroup]="addCategoryForm">
        <h4>Add Category</h4>
        <br>
        <input type="text" placeholder="Enter category ID" [formControl]="categoryId">
        <!-- Using validations  -->
        <p class="text-danger small" [hidden]="categoryId.valid || categoryId.untouched">Category ID
            should contain 2 characters in uppercase only.</p>
        <input type="text" placeholder="Enter category name" [formControl]="categoryName">
        <!-- Using validations  -->
        <p class="text-danger small" [hidden]="categoryName.valid || categoryName.untouched">Enter valid category name.</p>
        <button class="btn btn-green" [disabled]="addCategoryForm.invalid" (click)="addCategory()">Add</button>
    </form>
    
</div>