<nav class="nav flex nav-tabs space">
    <a class="nav-link active" routerLink = "/categories-page" routerLinkActive = active >Categories</a>
    <a class="nav-link" routerLink = "/courses-page" routerLinkActive = active >Courses</a>
    <a class="nav-link" ariaCurrentWhenActive="page" routerLink = "/sections-page" routerLinkActive = active>Sections</a>
    <a class="nav-link" ariaCurrentWhenActive="page" routerLink = "/students-page" routerLinkActive = active>Students</a>
    <a class="nav-link" ariaCurrentWhenActive="page" routerLink = "/enrollments-page" routerLinkActive = active>Enrollments</a>
    <a class="nav-link" ariaCurrentWhenActive="page" routerLink = "/payments-page" routerLinkActive = active>Payments</a>
  </nav>
